<div class="row">
  <div class="col-xs-6">
    <h1>Listing gists</h1>
  </div>
  <div class="col-xs-6">
      <div class="pull-right">
        <%= link_to new_gist_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i> Create New
        <% end %>
      </div>
  </div>
</div>

<div class="row">

    <%= will_paginate @posts %>

</div>
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Snippet</th>
      <th>Lang</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td class="text-center"><%= gist.id %></td>
        <td>
          <div class="well"><%= gist.snippet[0,10] %>...</div>
        </td>
        <td><%= gist.lang %></td>
        <td><%= gist.description %></td>


        <td class="text-center">
          <%= link_to gist, class: "btn btn-info " do %>
              <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to edit_gist_path(gist), class: "btn btn-success" do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to gist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>

<br>
